mixin formEnfermero(action="/enfermeros/actualizar")
  form#form-enfermero(method="POST", action=action)
    input(type="hidden", name="id_enfermero", id="edit-id")
    div
      label(for="edit-nombre") Nombre:
      input(type="text", name="nombre", id="edit-nombre", required)
    div
      label(for="edit-apellido") Apellido:
      input(type="text", name="apellido", id="edit-apellido", required)
    div
      label(for="edit-genero") Género:
      select(name="genero", id="edit-genero", required)
        option(disabled selected value="") -- Seleccione un género --
        option(value="Masculino") Masculino
        option(value="Femenino") Femenino
        option(value="Otro") Otro
    div
      label(for="edit-documento") Documento:
      input(type="text", name="documento", id="edit-documento", required)
    div
      label(for="edit-matricula") Matrícula:
      input(type="text", name="matricula", id="edit-matricula", required)
    div
      label(for="edit-guardia") Guardia:
      select(name="id_guardia", id="edit-guardia", required)
        option(disabled selected value="") -- Seleccione una guardia --
        each guardia in guardias
          - const horario = `${guardia.hora_inicio} a ${guardia.hora_fin}`;
          option(value=guardia.id_guardia)= `${guardia.nombre} (${horario})`
    div
      button(type="submit") Guardar Cambios
      button(type="button", id="cerrar-modal") Cancelar
