mixin filaEnfermero(enfermero)
  tr
    td= enfermero.nombre
    td= enfermero.apellido
    td= enfermero.genero
    td= enfermero.matricula
    td= enfermero.estado ? 'Activo' : 'Inactivo'
    td 
      button.btn-editar(
        type="button",
        data-id=enfermero.id_enfermero,
        data-nombre=enfermero.nombre,
        data-apellido=enfermero.apellido,
        data-genero=enfermero.genero,
        data-documento=enfermero.documento,
        data-matricula=enfermero.matricula,
        data-guardia=enfermero.id_guardia
      )
        img(src="/img/icon-editar.png", alt="editar", title="Editar")

      form(method="POST", action="/enfermeros/cambiar-estado", style="display:inline")
        input(type="hidden", name="id_enfermero", value=enfermero.id_enfermero)
        input(type="hidden", name="estado", value=enfermero.estado ? 'false' : 'true')
        button(type="submit", class="btn-cambiar-estado")
          if enfermero.estado
            img(src="/img/icon-inactivo.png", alt="Dar de baja", title="Dar baja")
          else
            img(src="/img/icon-activo.png", alt="Dar de alta", title="Dar alta")

mixin tablaEnfermeros(enfermeros)
  .contenido
    h1 Lista de Enfermeros
    button#btn-abrir-crearEnfermero.btn-crearEnfermero Crear Enfermero

    table#TablaEnfermero
      thead
        tr
          th Nombre
          th Apellido
          th Género
          th Matrícula
          th Estado
          th Acciones
      tbody
        each enfermero in enfermeros
          +filaEnfermero(enfermero)
