doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Lista de Enfermeros
    link(rel="stylesheet", href="/css/ListaPaciente.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
    script(src="/js/DataTableEnfermero.js")

  body
    .container
      include ../includes/nav.pug
      +nav()
      
      .contenido
        h1 Lista de Enfermeros
        button#btn-abrir-crearEnfermero.btn-crearEnfermero Crear Enfermero

        table#TablaEnfermero
          thead
            tr
              th Nombre
              th Apellido
              th Género
              th Matrícula
              th Turno
              th Estado
              th Acciones
          tbody
            each enfermero in enfermeros 
              tr
                td= enfermero.Nombre
                td= enfermero.Apellido
                td= enfermero.Genero
                td= enfermero.Matricula
                td= enfermero.Turno 
                td= enfermero.Estado ? 'Activo' : 'Inactivo'
                td 
                  button.btn-editar(
                    type="button",
                    data-id=enfermero.id_Enfermero,
                    data-nombre=enfermero.Nombre,
                    data-apellido=enfermero.Apellido,
                    data-genero=enfermero.Genero,
                    data-matricula=enfermero.Matricula,
                    data-turno=enfermero.Turno
                  )
                    img(src="/img/icon-editar.png", alt="editar", title="Editar")

                  form(method="POST", action="/enfermero/cambiar-estado", style="display:inline")
                    input(type="hidden", name="id_Enfermero", value=enfermero.id_Enfermero)
                    input(type="hidden", name="Estado", value=enfermero.Estado ? 'false' : 'true')
                    button(type="submit", class="btn-cambiar-estado")
                      if enfermero.Estado
                        img(src="/img/icon-inactivo.png", alt="Dar de baja", title="Dar baja")
                      else
                        img(src="/img/icon-activo.png", alt="Dar de alta", title="Dar alta")

    #modal-editar.hidden
      .modal-contenido
        h2 Editar Enfermero
        form#form-enfermero(method="POST", action="/enfermeros/actualizar")
          input(type="hidden", name="id_Enfermero", id="edit-id")
          .nombre-apellido
            div
              label(for="edit-nombre") Nombre:
              input(type="text", name="Nombre", id="edit-nombre", required)
            div
              label(for="edit-apellido") Apellido:
              input(type="text", name="Apellido", id="edit-apellido", required)
            div
              label(for="edit-genero") Género:
              select(name="Genero", id="edit-genero", required)
                option(value="Masculino") Masculino
                option(value="Femenino") Femenino
                option(value="Otro") Otro
            div
              label(for="edit-matricula") Matrícula:
              input(type="text", name="Matricula", id="edit-matricula", required)
            div
              label(for="edit-turno") Turno:
              input(type="text", name="Turno", id="edit-turno", required)
          div
            button(type="submit") Guardar Cambios
            button(type="button", id="cerrar-modal") Cancelar
