doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Lista de Médicos
    link(rel="stylesheet", href="/css/ListaPaciente.css")
    link(rel="stylesheet", href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css")
    script(src="https://code.jquery.com/jquery-3.6.0.min.js")
    script(src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js")
    script(src="/js/DataTableMedico.js")

  body
    .container
      include ../includes/nav.pug
      +nav()
      
      .contenido
        h1 Lista de Médicos
        button#btn-abrir-crearMedico.btn-crearMedico Crear Médico

        table#TablaMedico
          thead
            tr
              th Nombre
              th Apellido
              th Género
              th Matrícula
              th Especialidad
              th Estado
              th Acciones
          tbody
            each medico in medicos 
              tr
                td= medico.Nombre
                td= medico.Apellido
                td= medico.Genero
                td= medico.Matricula
                td= medico.Especialidad 
                td= medico.Estado ? 'Activo' : 'Inactivo'
                td 
                  // Botón de editar
                  button.btn-editar(
                    type="button",
                    data-id=medico.id_Medico,
                    data-nombre=medico.Nombre,
                    data-apellido=medico.Apellido,
                    data-genero=medico.Genero,
                    data-matricula=medico.Matricula,
                    data-especialidad=medico.Especialidad
                  )
                    img(src="/img/icon-editar.png", alt="editar", title="Editar")

                  // Botón de cambiar estado
                  form(method="POST", action="/medicos/cambiar-estado", style="display:inline")
                    input(type="hidden", name="id_Medico", value=medico.id_Medico)
                    input(type="hidden", name="Estado", value=medico.Estado ? 'false' : 'true')
                    button(type="submit", class="btn-cambiar-estado")
                      if medico.Estado
                        img(src="/img/icon-inactivo.png", alt="Dar de baja", title="Dar baja")
                      else
                        img(src="/img/icon-activo.png", alt="Dar de alta", title="Dar alta")

    // Modal de edición
    #modal-editar.hidden
      .modal-contenido
        h2 Editar Médico
        form#form-medico(method="POST", action="/medicos/actualizar")
          input(type="hidden", name="id_Medico", id="edit-id")
          .nombre-apellido
            div
              label(for="edit-nombre") Nombre:
              input(type="text", name="Nombre", id="edit-nombre", required)
            div
              label(for="edit-apellido") Apellido:
              input(type="text", name="Apellido", id="edit-apellido", required)
            div
              label(for="edit-genero") Género:
              select(name="Genero", id="edit-genero", required)
                option(value="Masculino") Masculino
                option(value="Femenino") Femenino
                option(value="Otro") Otro
            div
              label(for="edit-matricula") Matrícula:
              input(type="text", name="Matricula", id="edit-matricula", required)
            div
              label(for="edit-especialidad") Especialidad:
              input(type="text", name="Especialidad", id="edit-especialidad", required)
          div
            button(type="submit") Guardar Cambios
            button(type="button", id="cerrar-modal") Cancelar
