doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Registrar Emergencia
    script(src="/js/Admision.js")
    link(rel="stylesheet", href="/css/RegistrarAdmision.css")
  body
    .container
      include ../includes/nav.pug 
      +nav()

      .contenido
        h1 Registrar Emergencia 
        
        //- Buscamos el paciente por el DNI
        .form-card
          form(action="/pacientes/obtener-paciente/" method="GET")
            label(for="documento") DNI:
            input(type="text", name="documento", id="documento", required, placeholder="Ingrese DNI", value=documento)
            button(type="submit") Buscar paciente
          if error
            p(style="color: red")
              | #{error}
              br
              a(href="/pacientes/GestionPaciente/") ¿Deseas registrar el paciente?

        .form-card
          if paciente
            h2 Datos del Paciente Encontrado
            ul
              li(style="color:rgb(33, 35, 172); font-weight: bold;") 
                | Nombre completo: #{paciente.apellido} #{paciente.nombre} - DNI: #{paciente.documento}

          //- Registramos una admision del paciente
          form(action="/admisiones/registrar" method="POST")
            if paciente
              input(type="hidden", name="id_paciente", value=paciente.id_paciente)
              input(type="hidden", name="documento", value=paciente.documento) 
            div
              label(for="registro-tipo") Vía de ingreso:
              select(name="id_tipo", id="registro-tipo", required, disabled=disabled)
                option(disabled selected value="") -- Seleccione el ingreso --
                each ingreso in ingresos
                  option(value=ingreso.id_tipo)= ingreso.descripcion
            div
              label(for="registro-motivo") Motivo:
              select(name="id_motivo", id="registro-motivo", required, disabled=disabled)
                option(disabled selected value="") -- Seleccione el motivo --
                each motivo in motivos
                  option(value=motivo.id_motivo)= motivo.descripcion
            div
              label(for="registro-detalles") Detalles:
              textarea(type="text", name="detalles", id="registro-detalles", disabled=disabled placeholder="Campo opcional")
            div
              label(for="registro-ala") Ala:
              select(name="id_ala", id="registro-ala", required)
                option(disabled selected value="") -- Seleccione el Ala --
                each ala in alas
                  option(value=ala.id_ala)= ala.nombre
            div
              label(for="registro-habitacion") Habitación:
              select(name="id_habitacion", id="registro-habitacion", required)
              option(disabled selected value="") -- Seleccione la habitación --
            div
              button(type="submit", disabled=disabled) Admitir paciente
