mixin filaMedico(medico)
  tr
    td= medico.nombre
    td= medico.apellido
    td= medico.genero
    td= medico.matricula
    td= medico.Especialidad.nombre
    td= medico.estado ? 'Activo' : 'Inactivo'
    td 
      button.btn-editar(
        type="button",
        data-id=medico.id_medico,
        data-nombre=medico.nombre,
        data-apellido=medico.apellido,
        data-genero=medico.genero,
        data-documento=medico.documento,
        data-matricula=medico.matricula,
        data-especialidad=medico.id_especialidad
        data-guardia=medico.id_guardia
      )
        img(src="/img/icon-editar.png", alt="editar", title="Editar")

      form(method="POST", action="/medicos/cambiar-estado", style="display:inline")
        input(type="hidden", name="id_medico", value=medico.id_medico)
        input(type="hidden", name="estado", value=medico.estado ? 'false' : 'true')
        button(type="submit", class="btn-cambiar-estado")
          if medico.estado
            img(src="/img/icon-inactivo.png", alt="Dar de baja", title="Dar baja")
          else
            img(src="/img/icon-activo.png", alt="Dar de alta", title="Dar alta")

mixin tablaMedicos(medicos)
  .contenido
    h1 Lista de Médicos
    button#btn-abrir-crearMedico.btn-crearMedico Crear Médico

    table#TablaMedico
      thead
        tr
          th Nombre
          th Apellido
          th Género
          th Matrícula
          th Especialidad
          th Estado
          th Acciones
      tbody
        each medico in medicos
          +filaMedico(medico)
