//- mixin para una fila de admisiones
mixin filaAdmisiones(admision)
  tr
    td= admision.Paciente.documento
    td= admision.Paciente.nombre
    td= admision.Paciente.apellido
    td= admision.TipoIngreso.descripcion
    td= new Date(admision.fecha_entrada).toLocaleDateString('es-AR')
    td
      button.btn-abrir-internacion(
        type="button",
        data-id=admision.id_admision
        data-idPaciente=admision.Paciente.id_paciente
      )
        img.icono-info(src="/img/icon-crearPaciente.png", alt="crear")
        |  Registrar

//- mixin para la tabla de admision
mixin tablaAdmision(admisiones)
  .contenido
    h1 Registro de admisión
    table#TablaPaciente
      thead
        tr
          th Documento
          th Nombre
          th Apellido
          th Vía ingreso
          th Fecha para internación
          th Acciones
      tbody
        each admision in admisiones
          +filaAdmisiones(admision)