mixin filaPaciente(paciente)
  tr
    td= paciente.Nombre
    td= paciente.Apellido
    td #{paciente.Edad} años
    td= paciente.Genero
    td= paciente.Documento
    td 
      button.btn-editar(
        type="button",
        data-id=paciente.id_Paciente,
        data-nombre=paciente.Nombre,
        data-apellido=paciente.Apellido,
        data-edad=paciente.Edad,
        data-genero=paciente.Genero,
        data-documento=paciente.Documento,
        data-telefono=paciente.Telefono,
        data-domicilio=paciente.Domicilio,
        data-estatura=paciente.Estatura,
        data-peso=paciente.Peso,
        data-contacto_emergencia=paciente.Contacto_emergencia,
        data-seguro_medico=(paciente.Seguro_medico ? 'true' : 'false')
      ) Editar
      a.btn-historial(href=`/pacientes/historial/${paciente.id}`) Historial
      a.btn-admision(href=`/admisiones/registrar/${paciente.id}`) Registrar Admision

mixin tablaPacientes(pacientes)
  .contenido
    h1 Lista de Pacientes
    button#btn-abrir-crearPaciente.btn-crearPaciente Crear Paciente
    table#TablaPaciente
      thead
        tr
          th Nombre
          th Apellido
          th Edad
          th Género
          th Documento
          th Acciones
      tbody
        each paciente in pacientes
          +filaPaciente(paciente)
